# Ignore the virtual environment directory
venv/
env/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore Django database files
db.sqlite3

# Ignore media and static directories (if they are not in version control)
media/
static/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore other system files
.DS_Store
Thumbs.db

# Ignore pipenv and poetry files
Pipfile
Pipfile.lock
poetry.lock

# Ignore package distribution files
*.egg-info/
dist/
build/
